  <form method="post" id="ChildForm" data-Child_Specs-url="{% url 'ajax_load_values' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'Child_Specs_changelist' %}">Nevermind</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_value").change(function () {
      var url = $("#Child_SpecsForm").attr("data-Child_Specs-url");  // get the url of the `load_cities` view
      var Child_Specs_Id = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'value': Child_Specs_Id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_value").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>