{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<!DOCTYPE html>

<html direction="rtl" dir="rtl" style="direction: rtl" >
	<!--begin::Head-->
	<head><base href=""/>
		<title>نیر پارس</title>
		<meta charset="utf-8" />
		<meta name="description" content="The most advanced پنل ادمین بوت استراپ Theme on Themeforest trusted by 100,000 beginners و professionals. Multi-demo, حالت تیره, RTL support و complete React, Angular, Vue, Asp.Net Core, Rails, Spring, Blazor, Django, Flask & Laravel versions. Grab your copy now و get life-time updates for free." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="مترونیک " />
		<link rel="shortcut icon" href="assets3/media/logos/favicon.ico" />
		<!--begin::Fonts(mوatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Vendor Stylesheets(used for this page only)-->
		<link href="{% static 'assets3/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets3/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(mوatory for all pages)-->
		<link href="{% static 'assets3/plugins/global/plugins.bundle.rtl.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets2/plugins/global/plugins.bundle.rtl.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

		<link href="{% static 'assets3/css/style.bundle.rtl.css' %}" rel="stylesheet" type="text/css" />
{#        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>#}
{#        <script src="{% static 'tinymce/prism.js' %}"></script>#}
{#        <script src="{% static 'tinymce/tinymce.min.js' %}"></script>#}
        <script src="{% static 'assets3/plugins/custom/tinymce/tinymce.bundle.js' %}"></script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>


        <script>
            window.onload = doStuff;

            function doStuff() {

    const materialGroupDataBox = document.getElementById('material-group-data-box')
    const identityGroupDataBox = document.getElementById('identity-group-data-box')
    const childGroupDataBox = document.getElementById('child-group-data-box')
    const valueGroupDataBox = document.getElementById('value-group-data-box')
    const btnGroupDataBox = document.getElementById('submit-group-data-box')
    $.ajax({
                type: 'GET',
                url : '/Coding/Parent_Group_Selected/',
                success: function (response){
                    console.log(response)
                    const materialGroupData = response.data
                    materialGroupData.map(item =>{
                        const option = document.createElement('option')

                        option.textContent = item.material_group
                        option.setAttribute('class', 'item')
                        {#option.setAttribute('class', 'item')#}
                        option.setAttribute('value', item.material_group)

                        materialGroupDataBox.appendChild(option)
                        {#console.log(materialGroupDataBox)#}


                    })
                }
                ,
                error: function (error){
                    console.log(error)
                }

            })

const materialGroupInput = document.getElementById('material_groups')
const identityGroupInput = document.getElementById('identity_groups')
const childGroupInput = document.getElementById('child_groups')
{#const subText = document.getElementById('sub-text')#}

var global_selectedMaterialGroup = null
var abbElements = [];
materialGroupInput.addEventListener('change', e=>{
        {#console.log(e.target.value,'material_groups')#}
        const selectedMaterialGroup = e.target.value
        global_selectedMaterialGroup = selectedMaterialGroup
        identityGroupDataBox.innerHTML = ""
        btnGroupDataBox.innerHTML = ""

    $.ajax({
        type:'GET',
        url : `Material_Group_Selected/${selectedMaterialGroup}/`,
        success : function (response){
            const identityGroupData = response.data
            identityGroupData.map(item=>{
                {#console.log(item,'item')#}
                 const option = document.createElement('option')
                        option.textContent = item.material_group
                        option.setAttribute('value', item.material_group)
                        const td = document.createElement('td')
                        const label = document.createElement('label')
                         label.setAttribute('value', item.material_abb)
                         label.setAttribute('id', 'abbr')
                        label.innerText = 'کد ساخته شده تا این لحظه:' + item.material_abb
                        {#console.log(option,'option')#}
                        td.appendChild(label)
                        btnGroupDataBox.appendChild(td)
                        identityGroupDataBox.appendChild(option)

            })
        },
        error : function (error){
            console.log(error)
        }
    })

    })



identityGroupInput.addEventListener('change', e=>{
        const selectedIdentityGroup = e.target.value
        selectedIdentityGroup.innerHTML = ""
        valueGroupDataBox.innerHTML = ""


    $.ajax({
        type:'GET',
        url : `Identity_Group_Selected/${global_selectedMaterialGroup}/${selectedIdentityGroup}`,
        success : function (response){

            const identityGroupData = response.data

            identityGroupData.map(item=>{
                        console.log(item.child_desc,'desc')
                 var optionElements = [];
                        item.child_desc.map((innerData) =>{
                             var option = document.createElement('option')
                             option.setAttribute('class', 'innerData')
                        option.setAttribute('value', innerData.description)
                         option.textContent = innerData.description
                            optionElements.push(option);
                              var label = document.getElementById('abbr')
                        label.innerText += innerData.abbr
                            console.log(innerData.description)
                        })
                        var th = document.createElement('th')
                        var select = document.createElement('select')

                        th.setAttribute("id",item.child_group)
                        select.setAttribute("class","custom-select custom-select-lg form-select")
                optionElements.forEach(option => {
        select.appendChild(option);
    });

                        var td = document.createElement('td')
                         th.textContent = item.child_group

                        td.appendChild(select)
                        th.appendChild(td)
                        valueGroupDataBox.appendChild(th)







            })
        },
        error : function (error){
            console.log(error)
        }
    })


  {#$.ajax({#}
  {#      type:'GET',#}
  {#      url : `Identity_Group_Selected/${global_selectedMaterialGroup}/${selectedIdentityGroup}`,#}
  {#      success : function (response){#}
  {##}
  {#          const childGroupData = response.data#}
  {##}
  {#          childGroupData.map(item=>{#}
  {#              console.log(item,'fhiodsfughoadifug')#}
  {##}
  {##}
  {##}
  {#              var select = document.createElement('select');#}
  {#              var option = document.createElement('option');#}
  {#              var label = document.createElement('label');#}
  {#              var td = document.createElement('td');#}
  {#              var th = document.createElement('th');#}
  {#              select.className = 'custom-select custom-select-lg form-select';#}
                {#select.id = "child-group-data-box"#}
  {#              option.setAttribute('label',item)#}
  {#              option.textContent = item.child#}
  {#              option.setAttribute('value', item)#}
  {##}
  {##}
  {#              select.appendChild(option);#}
  {#              td.appendChild(select);#}
  {#              th.appendChild(td);#}
  {#              childGroupDataBox.appendChild(th)#}
  {##}
  {#          })#}
  {#      },#}
  {#      error : function (error){#}
  {#          console.log(error)#}
  {#      }#}
  {#  })#}


    })

}







        </script>






		<!--end::Global Stylesheets Bundle-->
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body"  class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-enabled">
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if ( localStorage.getآیتم("data-theme") !== null ) { themeMode = localStorage.getآیتم("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }</script>
		<!--end::Theme mode setup on page load-->
		<!--begin::Main-->
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="page d-flex flex-row flex-column-fluid">
				<!--begin::کناری-->
                    {% include 'Codings/Codings_Sidebar.html' %}
				<!--end::کناری-->
				<!--begin::Wrapper-->
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
					<!--begin::Header-->

                        {% include 'Codings/Codings_Header.html' %}

                    {% if messages %}
                        {% for message in messages %}
                    <div class="alert alert-dismissible bg-light-primary border border-primary d-flex flex-column flex-sm-row p-5 mb-10">
    <!--begin::Icon-->
    <i class="ki-duotone ki-search-list fs-2hx text-success me-4 mb-5 mb-sm-0"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
    <!--end::Icon-->

    <!--begin::Wrapper-->
    <div class="d-flex flex-column pe-0 pe-sm-10">
        <!--begin::Title-->
        <h5 class="mb-1">تبریک</h5>
        <!--end::Title-->

        <!--begin::Content-->
        <span>{{ message}}</span>
        <!--end::Content-->
    </div>
    <!--end::Wrapper-->

    <!--begin::Close-->
    <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
        <i class="ki-duotone ki-cross fs-1 text-success"><span class="path1"></span><span class="path2"></span></i>
    </button>
    <!--end::Close-->
</div>
                            <style>
                            .section::-webkit-scrollbar-track {
  background-color: darkgrey;
}
                            </style>
                        {% endfor %}
                    {% endif %}


                <style>
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #464646;
}
</style>
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Container-->
						<div class="container-xxl" id="kt_content_container">
							<!--begin::Row-->
							<div class="row gy-5 g-xl-8">
								<!--begin::Col-->
								<div class="card mb-5 mb-xl-8">
										<!--begin::Header-->
 <div class="container">
        <br/>
        <br/>


        <form  id="material-group-form">
            <div class="form-row">
                {% csrf_token %}


                <table id="kt_datatable_example_2" class="table table-striped table-rounded table-responsive border border-gray-300 table-row-bordered table-row-gray-300 gy-7 gs-7 max-w-lg" style="table-layout: fixed">
    <tbody>


        <tr>

            <td id = "material_groups">

                <select  class="custom-select custom-select-lg form-select" id="material-group-data-box">

                </select>
            </td>
             <td id = "identity_groups">
                <select  class="custom-select custom-select-lg form-select" id="identity-group-data-box">
                </select>
            </td>




        </tr>


    </tbody>
</table>


                <table class="table table-striped">
  <tbody>

    <tr id="value-group-data-box">




    </tr>
  </tbody>
</table>
                                <table class="table table-striped">
  <tbody>

    <tr id="submit-group-data-box">




    </tr>
  </tbody>
</table>







{#                 <div class="form-group custom-control col-md-3 form-control ">#}
{#                    <select name="child_specs_value"  class="custom-select custom-select-lg chained-fk form-select form-select-solid" required="required" id="id_child_specs_value" data-chainfield="recipename" data-url="chaining/filter/Codings/ChildSpecsValue/recipename/Codings/Recipe/child_specs_value" data-value="null" data-auto_choose="false" multiple="multiple" data-empty_label="مقادیر را انتخاب کنید" data-allow-clear="true">#}
{#                </select>#}
{#                </div>#}
{#                <div class="form-group col-md-3">#}
{#                    <input type="submit" value="ثبت" class="btn btn-success" >#}
{#                </div>#}
            </div>
        </form>


        <hr>

    </div>
										<!--begin::Body-->
									</div>
								<!--end::Col-->
								<!--begin::Col-->

							<!--end::Row-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Content-->
					<!--begin::Footer-->
					<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container-xxl d-flex flex-column flex-md-row flex-stack">
							<!--begin::Copyright-->

							<!--end::Copyright-->
							<!--begin::Menu-->

							<!--end::Menu-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Root-->
		<!--begin::کشوs-->
		<!--begin::فعالیت ها drawer-->

		<!--end::کشوs-->
		<!--end::Main-->
		<!--begin::Engage drawers-->
		<!--begin::دموها drawer-->
		<!--end::دموها drawer-->
		<!--begin::کمک drawer-->

		<!--end::کمک drawer-->
		<!--end::Engage drawers-->
		<!--begin::Engage modals-->
		<!--end::Engage modals-->
		<!--begin::Engage toolbar-->
		<!--end::Engage toolbar-->
		<!--begin::Scrolltop-->
		<!--end::Scrolltop-->
		<!--begin::Modals-->
		<!--begin::Modal - ارتقا دهید plan-->
		<!--end::Modal - ارتقا دهید plan-->
		<!--begin::Modal - دعوت دوستs-->
		<!--end::Modal - دعوت دوست-->
		<!--begin::Modal - ساختن اپ-->
		<!--end::Modal - ساختن اپ-->
		<!--begin::Modal - Users جستجو-->
		<!--end::Modal - Users جستجو-->







		<!--end::Modals-->
		<!--begin::Javascript-->
		<script>var hostUrl = "assets3/";</script>
		<!--begin::Global Javascript Bundle(mوatory for all pages)-->
		<script src="{% static 'assets3/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'assets3/js/scripts.bundle.js' %}"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="{% static 'assets3/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
		<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
		<script src="{% static 'assets3/plugins/custom/datatables/datatables.bundle.js' %}"></script>
		<!--end::Vendors Javascript-->
		<!--begin::سفارشی Javascript(used for this page only)-->
		<script src="{% static 'assets3/js/widgets.bundle.js' %}"></script>
        <script src="{% static 'assets/js/custom/apps/support-center/tickets/create.js' %}"></script>
		<script src="{% static 'assets3/js/custom/widgets.js' %}"></script>
		<script src="{% static 'assets3/js/custom/apps/chat/chat.js' %}"></script>
		<script src="{% static 'assets3/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
		<script src="{% static 'assets3/js/custom/utilities/modals/create-app.js' %}"></script>
		<script src="{% static 'assets3/js/custom/utilities/modals/users-search.js' %}"></script>
		<!--end::سفارشی Javascript-->
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>